%ul
- Bushido::EffectivePatterns.each.with_index do |pattern, id|
  %li
    %a{:href => "/effective_patterns?id=#{id}"}= pattern[:title]

.hr

- if @pattern
  %div= @pattern[:title]
  %div
    = @pattern[:comment]
    - if @pattern[:url]
      %a{href: @pattern[:url]}= "参考URL"
  .hr
  - @frames.each do |mediator|
    %div= mediator.human_kif_logs.join(" ")
    - if v = mediator.variables[:comment]
      %div= v
    - if mediator.player_at(:white).pieces.present?
      .pieces.white= mediator.player_at(:white).to_s_pieces
    = MediatorDecorator.new(mediator).to_html_board(:small)
    - if mediator.player_at(:black).pieces.present?
      .pieces.black= mediator.player_at(:black).to_s_pieces
    .hr
