%ul
- Bushido::EffectivePatterns.each.with_index do |pattern, id|
  %li
    %a{:href => "/effective_patterns?id=#{id}"}= pattern[:title]

.hr

- if @pattern
  %div= @pattern[:title]
  %div
    = @pattern[:comment]
    - if @pattern[:url].present?
      %a{href: @pattern[:url]}= "参考URL"
  .hr
  - @frames.each do |frame|
    %div= frame.humane_kif_logs.last
    = FrameDecorator.new(frame).to_html_board(:small)
    .hr

