- if @pattern
  .text-center
    %p
      %strong= @pattern[:title]
    - if @pattern[:url]
      %p
        %a{href: @pattern[:url]}
          = @pattern[:url]
    - if @pattern[:comment]
      %p
        = @pattern[:comment]
    %hr
    - @snapshots.each do |mediator|
      - if v = mediator.variables[:comment]
        .alert.alert-info
          = Array.wrap(v).join("<br/>")
      - if mediator.variables[:hide_ki2_hand_logs]
      - else
        -# %p= mediator.ki2_hand_logs.join(" ")
        %p= mediator.ki2_hand_logs.last
      - if mediator.player_at(:white).pieces.present?
        .pieces= mediator.player_at(:white).piece_box.to_s
      = MediatorDecorator.new(mediator).to_html_board(:small)
      - if mediator.player_at(:black).pieces.present?
        .pieces= mediator.player_at(:black).piece_box.to_s
      %hr
