%div
  %form{action: "/", method: "post"}
    %input{name: "auto1", type: "hidden", value: "true"}
    %input{type: "submit", value: "賢い代指"}
  %form{action: "/", method: "post"}
    %input{name: "auto2", type: "hidden", value: "true"}
    %input{type: "submit", value: "ランダム"}

.hr
%div= "#{@mediator.counter_human_name}手目 #{@mediator.current_player.location.mark_with_name}番"
.hr

%div= @mediator.player_at(:white).evaluate
= Bushido::Location[:white].mark_with_name
%form{action: "/", method: "post"}
  %input{name: "location", type: "hidden", value: "white"}
  %input{type: "text", name: "way", value: "", autofocus: @mediator.current_player.location.white?}
  %input{type: "submit", value: "打"}

%div
  - if @mediator.players.last.pieces.present?
    .pieces.white= @mediator.players.last.to_s_pieces
  = MediatorDecorator.new(@mediator).to_html_board
  - if @mediator.players.first.pieces.present?
    .pieces.black= @mediator.players.first.to_s_pieces

= Bushido::Location[:black].mark_with_name
%form{action: "/", method: "post"}
  %input{name: "location", type: "hidden", value: "black"}
  %input{type: "text", name: "way", value: "", autofocus: @mediator.current_player.location.black?}
  %input{type: "submit", value: "打"}
%div= @mediator.player_at(:black).evaluate

.hr

- if @mediator.human_kif_logs.present?
  %div
    %select
      - @mediator.human_kif_logs.each.with_index do |kif_log, index|
        %option{selected: @mediator.human_kif_logs.last == kif_log}= "#{index.next} #{kif_log}"
  .hr

.div
  %form{action: "/", method: "post"}
    %input{name: "reset", type: "hidden", value: "true"}
    %input{type: "submit", value: "リセット"}

- if ENV['RACK_ENV'] == "development"
  %div= "marshal: #{Marshal.dump(@mediator).bytesize}"
  %div= "session: " + env["rack.session"]["session_id"].to_s.slice(/^.{7}/)
  %div= params.inspect
  %div= ENV['RACK_ENV']
