%div
  .text-center
    .btn-group
      %a{href:"/?random_put=true", "class": "btn"} ランダム
      %a{href:"/?think_put_lv=0", "class": "btn"} 読深0
      %a{href:"/?think_put_lv=1", "class": "btn"} 読深1
      %a{href:"/?think_put_lv=2", "class": "btn"} 読深2

- if @score_bars
  .text-center{:style => "margin-top:0.5em"}
    .progress
      - @score_bars.each do |sb|
        %div{"class":"bar #{sb[:style]}", style:"width:#{sb[:rate]}%"}= "#{sb[:location].mark}#{sb[:score]}"

.text-center
  = "#{@mediator.counter_human_name}手目 #{@mediator.current_player.call_name}番"

.text-center
  %form{action: "/", method: "post", "class": "form-inline kif-input-form"}
    .control-group
      .controls
        %label{"class": "control-label"}= @mediator.player_at(:white).call_name
        %input{name: "location", type: "hidden", value: "white"}
        %input{type: "text", name: "hand", value: "", "class":"input-mini", autofocus: @mediator.current_player.location.white?}
        %input{type: "submit", value: "打", "class": "btn btn-primary"}

  %div
    - if @mediator.player_at(:white).pieces.present?
      .pieces= @mediator.player_at(:white).to_s_pieces
    = MediatorDecorator.new(@mediator).to_html_board
    - if @mediator.player_at(:black).pieces.present?
      .pieces= @mediator.player_at(:black).to_s_pieces

  %form{action: "/", method: "post", "class": "form-inline kif-input-form"}
    .control-group
      .controls
        %label{"class": "control-label"}= @mediator.player_at(:black).call_name
        %input{name: "location", type: "hidden", value: "black"}
        %input{type: "text", name: "hand", value: "", "class":"input-mini", autofocus: @mediator.current_player.location.black?}
        %input{type: "submit", value: "打", "class": "btn btn-primary"}

- if @mediator.ki2_hand_logs.present?
  %p
    %select
      - @mediator.ki2_hand_logs.each.with_index do |hand_log, index|
        %option{selected: @mediator.ki2_hand_logs.last == hand_log}= "#{index.next} #{hand_log}"

%p
  %a{href:"/?reset=true", "class": "btn"} リセット

- if @think_result
  %p= @think_result[:reading_hands].join(" ")
- if @runtime
  %p= @runtime

- if ENV['RACK_ENV'] == "development"
  .well
    %div= "marshal: #{Marshal.dump(@mediator).bytesize}"
    %div= "session: " + env["rack.session"]["session_id"].to_s.slice(/^.{7}/)
    %div= params.inspect
    %div= ENV['RACK_ENV']
