
%ul{:class => "nav nav-pills"}
  - @types_hash.each do |type, attrs|
    %li{:class => (params[:type] == type.to_s) ? "active" : ""}
      %a{href: "/swars_skills?type=#{type}&&only=#{attrs[:columns].join(",")}"}
        = attrs[:label]
  %li
    %a{href: "/swars_skills.xml"}= "XML"
  %li
    %a{href: "/swars_skills.json"}= "JSON"

%table{:class => "table table-striped table-hover swars_skills"}
  %thead
    %tr
      - @columns.each do |column|
        %th= @columns_hash[column.to_sym][:label]
  %tbody
    - @swars_skills.each do |row|
      %tr
        - @columns.each do |column|
          %td
            - case column
            - when "xs_image_url"
              %img{:src => row[:xs_image_url], :width => 16, :alt => row[:name]}
            - when "image_url"
              %a{href: row[:game_url]}
                %img{:src => row[:image_url], :width => 300, :alt => row[:name]}
            - when "game_url"
              %a{href: row[:game_url]}= "▲"
            - when "iname"
              %span.nowrap
                -# %a{:href => row[:xs_image_url], :class => "image_preview"}
                -#   %img{:src => row[:xs_image_url], :width => 16}
                %img{:src => row[:xs_image_url], :width => 16}
                %a{href: row[:game_url]}= row[:name]
            - when "name"
              %span.nowrap
                %a{href: row[:game_url]}= row[:name]
            - when "rarity_stars"
              = "★" * row[:rarity]
            - when "ranking_url"
              %a{href: row[:ranking_url]}= "★"
            - when "code"
              = "%04d" % row[:code]
            - when "rate"
              = "%.2f" % [row[:count].to_f / row[:uu_count]]
            - when "description"
              %small= row[:description]
            - when "name_with_description"
              .pull-left{:style => "padding-right:8px"}
                %a{href: row[:game_url]}
                  %img{:src => row[:xs_image_url], :width => 64}
              %span.nowrap
                %a{href: row[:game_url]}= row[:name]
              %br
              %small= row[:description]
            - else
              = row[column.to_sym]
