%table{:class => "table"}
  %tr
    %th= "技名"
    %th= "RARE"
    %th= "COUNT"
    %th= "UU"
    %th= "R"
    %th= "ID"
    -# %th= "KEY"
    %th= ""
  - SwarsItems.each do |row|
    %tr
      %td
        %img{:src => row[:xs_image_url], :width => 16}
        %a{href: row[:game_url]}
          = row[:name]
      %td= "★" * row[:rarity]
      %td= row[:count]
      %td= row[:uu_count]
      %td
        %a{href: row[:ranking_url]}= "★"
      %td= row[:id]
      -# %td= row[:key]
      %td= row[:description]
