.well
  - Bushido::DefenseInfo.each do |stock|
    %a{href:"/tactics_and_enclosure##{stock[:key]}"}= "【#{stock[:key]}】"

.text-center
  - Bushido::DefenseInfo.each do |stock|
    - mediator = Bushido::Mediator.new
    - mediator.board_reset_for_hash("▲" => stock[:key], "△" => stock[:key])
    %a{name:"#{stock[:key]}"}
    %p
      %a{href: Bushido::Utils.guguru_url([stock[:key], "将棋"])}= stock[:key]
      - if stock[:form_check_url]
        %a{href: stock[:form_check_url]}= "将ウォーズ"
    = MediatorDecorator.new(mediator).to_html_board(:small)
    %hr
