.well
  - Warabi::DefenseInfo.each do |stock|
    %a{href:"/tactics_and_enclosure##{stock[:key]}"}= "【#{stock[:key]}】"

.text-center
  - Warabi::DefenseInfo.each do |stock|
    - mediator = Warabi::Mediator.new
    - mediator.board.set_from_hash("▲" => stock[:key], "△" => stock[:key])
    %a{name:"#{stock[:key]}"}
    %p
      - if stock[:sankou_url]
        %a{href: stock[:sankou_url]}= "将ウォーズ"
    = MediatorDecorator.new(mediator).to_html_board(:small)
    %hr
